# .env

# Senha do root do MariaDB
MYSQL_ROOT_PASSWORD=SUPER_SENHA_AQUI

# Nome do banco de dados da aplicação
MYSQL_DATABASE=BANCO_APP 

# Nome do usuário comum, sem privilégios de root
MYSQL_USER=USUARIO_APP 

# Senha do usuário comum
MYSQL_PASSWORD=SUPER_SENHA_AQUI 
