[Unit]
Description=Docker MariaDB
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/opt/docker-mariadb
Type=oneshot
RemainAfterExit=yes
StandardOutput=syslog
ExecStart=/bin/bash -c "docker compose up -d"
ExecStop=/bin/bash -c "docker compose stop"

[Install]
WantedBy=multi-user.target
